body {
  background-image: url(red_starburst.jpg);
  background-size: 100% ;
  background-repeat: no-repeat;

  color: white;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 25px;
  line-height: 18px;

  text-align: center;
}

div {
  margin: 10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 25px;
  line-height: 18px;
}

th, td {
  font-size: 25px;
}

table {
  background:rgba(255,255,255,0.4);  
  width: 500px;
  margin-top: 50px;
  margin-left:auto; 
  margin-right:auto;
  padding: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: black;
  }
  &:hover {
    color: #fff;
    background:rgba(255,255,255,0.4);  
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.nav a {
  color: white;
}

a {
  color: white;
}

.box {
  width: 500px;
  background:rgba(255,255,255,0.4);  
  padding: 50px 20px;
  margin-right: auto;
  margin-left: auto;
}
