// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(red_starburst.jpg);
  background-size: 100% ;
  background-repeat: no-repeat;

  color: white;


  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;

}

.cat-image {
  background: url(ranking_cats_line.png) no-repeat;
  height: 125px;
  width: 450px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
